.homepage {
    width: 100%;

    .bannerTotal {
        position: relative;

        .bannerItem {
            width: 100%;
            height: auto;
            border-radius: 0 0 50% 50%/0 0 20% 20%;
        }

        .bannerInput {
            position: absolute;
            top: 63%;
            left: 50%;
            font-size: 0.7rem;
            width: 12rem;
            background: #fff;
            color: #999;
            transform: translateX(-50%);
            border-radius: 5px;
            padding: 0.3rem 0;
            text-align: center;
        }
    }

    .rentTypeContent {
        padding: 0.6rem 1rem;
        z-index: 9;
        position: relative;
        margin-top: -2.4rem;

        .innerContent {
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: row;
            padding: 1rem 0;
            background: #fff;

        }

        .rentContentItem {
            display: flex;
            align-items: center;
            flex-direction: column;

            .rentContentIcon {
                width: 2.5rem;
                height: auto;
                background: @primary-color;
                border-radius: 50%;
            }

            span {
                margin-top: 5px;
                font-size: 0.7rem;
                font-weight: bold;
            }
        }
    }

    .houseTotal {
        margin: 0 1rem;
        display: flex;
        font-size: 0.7rem;
        text-align: center;
        background: #fff;

        span {
            flex: 1;
            width: 25%;
            padding: 0.5rem 0;
        }

        .active {
            border-bottom: 2px solid @primary-color;
            color: @primary-color;
        }
    }
}