.productContent {
    margin: 0 1rem;
    width: calc(100% - 2rem);
    background: #fff;
    border-radius: 5px;
    height: 100%;

    .productItem {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
        align-items: center;

        .productImg {
            width: 41%;
            height: 100%;
            border-radius: 5px;
        }

        .productDes {
            margin-left: 0.4rem;
            width: 100%;
            overflow: hidden;
            div {
                margin-bottom: 0.3rem;
            }

            .productTitle {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                width: 100%;
                font-size: 0.7rem;
            }

            .productSmallTit {
                font-size: 0.5rem;
                color: red;
            }

            .productAddress {
                font-size: 0.3rem;
                color: #666;
            }

            .productTags {
                span {
                    display: inline-block;
                    background: #bbb;
                    border-radius: 5px;
                    color: #666;
                    font-size: 0.3rem;
                    padding: 0 0.2rem;
                    margin-right: 0.3rem;
                }

            }

            .productMoney {
                font-size: 0.7rem;
                color: red;
            }
        }

    }
}