.barIcon {
  text-align: left;
}

.barTitle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.localTitle {
  color: #bbb;
  font-size: 0.7rem;
  margin: 0.2rem;
}

.currentLocal {
  background: #ccc;
  margin: 0.5rem;
  border-radius: 5px;
  width: fit-content;
  font-size: 0.8rem;
  padding: 0.2rem;
}

.cityItem {
  font-size: 0.7rem;
  margin: 0.2rem;
  margin-left: 0.4rem;
}

.searchInput {
  border-radius: 10px;
  border: 1px solid #ccc;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.3rem 0;
  text-align: center;
  margin-top: 0.3rem;
}